.testbox{
    color: red;
    border: solid;
    margin: 2px;
    padding: 2px;
}
body{
    /* background-color: lightblue; */
    
background-image: image("assets/nasa1.jpg");
}
#globe-div{
    /* background-color: black; */
}
#location-div{
    height: 70vh;
    /* width: em,rem,ex; */
}

.blank-box{
    height: 25px;
}
.background{
min-height: 95vh;
/* background-color: darkslategrey; */
}
.footer{
    margin-top: 25px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    border: solid darkslategrey;
}